<body>
  <section class="index-section-box">
    <div class="index-section-title-box">

      <div class="myarea-div-form-box">

        <div class="settings-div-form">

          <form class="myarea-div-form-list">


            <div class="myarea-form-image-box">
              <div class="myarea-form-image"></div>
            </div>

            <div>
              <div class="myarea-form-name">
                <label>"{NAME}"</label>
              </div>
            </div>

            <div>
              <label for="
              ">Date of Birth <br> "{DateOfBirth}"</label>
            </div>

            <div>
              <label for="">Interests</label> <br>

              <input class="test" type="text" value="add,your,interests" data-role="tagsinput"></input>

          </form>
        </div>


      </div>
    </div>
  </section>
</body>