<body>
  <section class="index-section-box">
    <div class="index-section-title-box">
      <div class="test">


        <div class="index-section-title-tars-p-box">
          <div class="index-section-title-tars-box">
            <b class="index-section-title-tars">My Area</b>
          </div>
        </div>
        </h1>

        <form class="main-div-form" action="/object-search" method="GET">
          <h2>"{NAME}"</h2>
          <form action="/authors/create" method="POST">

            <input type="file" name="image" />

            <label>Username</label>
            <input type="text" name="name">

            <label>Password</label>
            <input type="text" name="bio">

            <label>Re-Type Password</label>
            <input type="text" name="bio">
            <button type="submit">Edit</button>
          </form>

        </form>


      </div>
    </div>
  </section>
</body>