<body>
  <section class="index-section-box">
    <div class="index-section-title-box">
      <div class="settings-div-form-box">

        <form class="settings-div-form" action="" method="GET">
          <h2>"{NAME}"</h2>

          <div class="settings-div-form-list">
            <form action="/authors/create" method="POST">

              <input type="file" name="image" />

              <label>Username</label>
              <input type="text" name="name">

              <label>Password</label>
              <input type="text" name="bio">

              <label>Re-Type Password</label>
              <input type="text" name="bio">
              <button type="submit">Edit</button>
            </form>
          </div>


      </div>
    </div>
  </section>
</body>