<body>
  <section class="index-section-box">
    <div class="index-section-title-box">
      <div class="settings-div-form-box">

        <form class="settings-div-form" action="/my-area" method="POST" enctype="multipart/form-data">
          <h2>{{user.username}}</h2>

          <div class="settings-div-form-list">

            <div class="settings-form-image-box">
              <div class="settings-form-image">
                <img class="myarea-image" src="{{user.imageUrl}}" alt="" />
              </div>
              <input class="settings-form-image-button" type="file" name="image" />
            </div>

            <div>
              <div class="settings-form-account">
                <label>Username</label>
                <input type="text" name="name" value="{{user.username}}">

                <label>Password</label>
                <input type="password" name="password">

                <label>Re-Type Password</label>
                <input type="password" name="password">
              </div>


              <button class="settings-form-button" type="submit">Edit</button>
            </div>
        </form>

      </div>
      </form>

    </div>
    </div>
  </section>
</body>