<body>
  <section class="index-section-box">
    <div class="index-section-title-box">
      <div class="settings-div-form-box">

        <form class="settings-div-form" action="" method="GET">
          <h2>"{NAME}"</h2>

          <div class="settings-div-form-list">
            <form action="/authors/create" method="POST">

              <div class="settings-form-image-box">
                <div class="settings-form-image"></div>
                <input class="settings-form-image-button" type="file" name="image" />
              </div>

              <div>
                <div class="settings-form-account">
                  <label>Username</label>
                  <input type="text" name="name">

                  <label>Password</label>
                  <input type="password" name="bio">

                  <label>Re-Type Password</label>
                  <input type="password" name="bio">
                </div>


                <button class="settings-form-button" type="submit">Edit</button>
              </div>
            </form>

          </div>
        </form>

      </div>
    </div>
  </section>
</body>