<section class="index-section-box">
  <div class="index-section-title-box">
    <div class="signup-div-form-box">


      <div>
        <h2 class="login-form-title">Create Account</h2>
      </div>

      <div>
        <form class="login-form-box" action="/signup" method="POST">
          <label>Username</label>
          <input type="text" name="username" autocomplete="off" required />

          <label>E-mail</label>
          <input type="email" name="email" autocomplete="off" required />

          <label>Password</label>
          <input type="password" name="password" required />

          <div>
            <button class="login-form-button" type="submit">Create</button>
          </div>
        </form>
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
      </div>

      <div>
        <p>Already have an account? Login <a href="/login">here</a>!</p>
      </div>

</section>
</div>
</div>