<body>
  <section class="index-section-box">
    <div>
      <h1>5tars</h1>
      <p>"1st Rate and Share Social Media Network"</p>
      <div class="main-div">

        <div>
          <h2><a href="/games">Games</a></h2>
        </div>
        <div>
          <h2><a href="/movies">Movies</a></h2>
        </div>
        <div>
          <h2><a href="/series">Series</a></h2>
        </div>

      </div>
    </div>
  </section>
</body>