<body>
  <section class="index-section-box">
    <div>
      <h1>5tars - Movies</h1>
      <p>"1st Rate and Share Social Media Network"</p>
      <div class="main-div">

        <form class="main-div-form" action="/object-search" method="GET">
          <div>
            <input class="main-div-input" type="text" name="theObjectName" placeholder="Search...">
          </div>
          <div>
            <button class="main-div-form-btn" type="submit">Search Movies</button>
          </div>
        </form>

      </div>
    </div>
  </section>
</body>