<body>
  <section class="index-section-box">
    <div>

      <div class="index-section-title-box">

        <div class="index-section-search-box">
          series
        </div>

        <h1 class="index-section-title">


          <div class="index-section-title-five-box">
            <div class="index-section-title-stars-box">
              <div><img src="/images/star.png" alt=""></div>
              <div><img src="/images/star.png" alt=""></div>
              <div><img src="/images/star.png" alt=""></div>
              <div><img src="/images/star.png" alt=""></div>
              <div><img src="/images/star.png" alt=""></div>
            </div>
            <div>
              <b class="index-section-title-five">5</b>
            </div>
          </div>

          <div class="index-section-title-tars-p-box">
            <div class="index-section-title-tars-box">
              <b class="index-section-title-tars">TARS</b>
            </div>

            <div class="index-section-title-p-box">
              <div>
                <p class="index-section-title-p">"1st Rate and Share Social Media Network"</p>
              </div>
            </div>
          </div>
        </h1>

        <form class="main-div-form" action="/object-search" method="GET">
          <div>
            <input class="main-div-input" type="text" name="theObjectName" placeholder="Search...">
            <button class="main-div-form-btn" type="submit">Search</button>
          </div>
        </form>


      </div>
    </div>

  </section>
</body>