* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar-logo-img {
  height: 4rem;
  padding-bottom: 0.7rem;
  padding-right: 2rem;
}

.nav-item-box-home {
  font-size: 2.5rem;
  font-family: Yanone Kaffeesatz;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item-box {
  font-size: 2.5rem;
  font-family: Yanone Kaffeesatz;
  display: flex;
  flex-direction: row;
  width: 135rem;
  justify-content: flex-end;
  align-items: center;
}

.nav-image-box {
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
}

.nav-link {
  text-decoration: none !important;
}

.navbar-box {
  border-bottom: 0.4rem solid #222222;
}

.navbar {
  margin-bottom: 0 !important;
}

.dropdown-toggle {
  margin-right: 5rem;
  margin-left: 2rem;
}

/* HOME */

.index-section-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76rem;
  background-image: url("../images/background.jpg");
  background-size: contain;
}

.index-section-title-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 151.9rem;
  height: 76rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Yanone Kaffeesatz;
}

.index-section-title {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  height: 45rem;
  flex-wrap: wrap;
}

.index-section-title-stars-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.index-section-title-stars-box img {
  height: 3rem;
}

.index-section-title-five-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid black;
  border-start-start-radius: 5rem;
  border-end-end-radius: 5rem;
  height: 33rem;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: rgba(250, 0, 0, 0.6);
  z-index: 2;
  position: relative;
}

.index-section-title-five {
  text-align: center;
  color: white;
  font-size: 40rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 10px 0 black,
    1px 10px 0 black;
}

.index-section-title-tars-box {
  transform-origin: top left;
  transform: skew(-15deg);
  z-index: 1;
  position: relative;
}

.index-section-title-tars {
  border: 0.1rem solid black;
  background-color: rgba(0, 0, 0, 0.6);
  border-end-end-radius: 5rem;
  padding: 4rem 4rem 1rem 6rem;
  color: white;
  font-size: 21rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 10px 0 black,
    1px 10px 0 black;
}

.index-section-title-p {
  margin-top: 2rem;
  font-size: 2rem;
  color: rgba(245, 197, 24, 0.9);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.index-section-buttons-box {
  display: flex;
  justify-content: space-evenly;
  width: 79rem;
}

.index-section-buttons {
  border: 0.1rem solid black;
  border-start-start-radius: 2.5rem;
  border-end-end-radius: 2.5rem;
  background-color: white;
  padding: 1rem 3rem;
  transform: translateY(0);
  transition: transform 1s;
}

.index-section-buttons:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 1s;
}

.index-section-buttons a {
  color: black;
  text-decoration: none !important;
  font-size: 3rem;
}

.index-section-buttons a:hover {
  color: red;
}

/* SEARCH GAMES/MOVIES/SERIES */

/* .index-section-search-box {
  text-transform: uppercase;
  font-size: 10rem;
          -webkit-transform:
            translateY(-5px)
            translateX(24rem)
            rotate(-20deg); 
        position: absolute;
        color: rgba(245, 197, 24, 0.9);
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
} */

.main-div-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-div-input {
  padding: 1rem 40rem 1rem 1rem;
  border-radius: 2%;
  border: 0.1rem solid lightgrey;
  outline: none;
}

.main-div-form-btn {
  background-color: red;
  color: white;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
  border: 1px solid red;
}

.main-div-form-btn:hover {
  cursor: pointer;
  background-color: rgba(200, 83, 79);
  outline: none;
}

/* SEARCH-RESULTS GAMES/MOVIES/SERIES */ /* FAVORITES */

.search-results-bg {
  background-color: black;
}

.search-result h1 {
  color: #464646;
  padding: 3rem 0;
  border-bottom: 0.4rem solid #464646;
  text-transform: uppercase;
  font-family: Yanone Kaffeesatz;
}

.search-result-item {
  margin-bottom: 4rem;
  margin-right: 4rem;
}

.search-result-image {
  position: relative;
  width: 30rem;
}

.search-result-image-img {
  display: block;
  width: 100%;
  height: 40rem;
}

.search-result-image-overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  font-family: Yanone Kaffeesatz;
}

.search-result-image-overlay--blur {
  backdrop-filter: blur(0.2rem);
}

.search-result-image-overlay > * {
  transform: translateY(2rem);
  transition: transform 0.25s;
}

.search-result-image-overlay:hover {
  opacity: 1;
}

.search-result-image-overlay:hover > * {
  transform: translateY(0);
}

.search-result-image-title {
  color: white;
}

.search-result-image-details {
  margin-top: 2rem;
}

<<<<<<< HEAD
.search-result-image-details a{
  font-size: 2rem;
  text-decoration: none;
  background-color: red;
  padding: 1rem 1.5rem; 
=======
.search-result-image-details a {
  text-decoration: none;
  background-color: red;
  padding: 0.4rem 0.5rem;
>>>>>>> df092d8c950a1826930d937f4508fc939b26a926
  border-start-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  color: white;
}

.search-result-image-details a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: rgba(200, 83, 79);
  outline: none;
  text-decoration: none;
}

.search-result-add-fav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  transition: 0.25s;
}

.search-result-add-fav:hover {
  background-color: greenyellow;
  border-end-start-radius: 1rem;
  transition: 0.25s;
}

.search-result-add-fav img {
  height: 2rem;
}

.search-result-item-box {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.object-search-no-results {
  margin: 8.3rem;
  margin-right: 6.5rem;
}

.favorites-result-delete-fav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  transition: 0.25s;
}

.favorites-result-delete-fav:hover {
  background-color: rgb(255, 50, 50);
  border-end-start-radius: 1rem;
  transition: 0.25s;
}

.favorites-result-delete-fav img {
  height: 2rem;
  transform: rotate(45deg);
}
<<<<<<< HEAD

 
=======
>>>>>>> df092d8c950a1826930d937f4508fc939b26a926

/* FOOTER */

.footer-box {
  border-top: 0.4rem solid #222222;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4rem 0;
}

.contacts-name-links-box {
  border-right: 0.1rem solid #222222;
  border-left: 0.1rem solid #222222;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.contacts-name-links-box div h3 {
  font-size: 2rem;
  color: #222222;
  font-family: Yanone Kaffeesatz;
}

.contacts-links-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 12rem;
}

.contacts-links-box div {
  padding: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
}

.contacts-links-box div:hover {
  border: 0.1rem solid #222222;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #222222;
  height: 4.5rem;
  width: 4.5rem;
}

.contacts-links-box img {
  height: 3rem;
}

.companies {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.companies div img {
  height: 10rem;
}

/* SETTINGS */

.settings-div-h2-box h2 {
  font-weight: 700;
  font-size: 4rem;
  color: white;
  background-color: red;
  padding: 0.5rem 3rem;
  transform: skewX(-15deg);
  margin-bottom: 4rem;
  border-start-start-radius: 2rem;
  border-end-end-radius: 2rem;
}

.settings-div-form-box {
  background-color: white;
  width: 80rem;
  height: 50rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid black;
}

.settings-div-form {
  display: flex;
  flex-direction: column;
  height: 70rem;
  align-items: center;
  justify-content: center;
}

.settings-div-form-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80rem;
}

.settings-form-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 1.5rem;
  height: 40rem;
  margin: 0 3rem;
}

.settings-form-image {
  width: 20rem;
  height: 20rem;
  margin-bottom: 3rem;
}

.settings-form-image-button {
  font-size: 1.2rem;
}

.settings-form-account {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  border-left: 0.2rem solid black;
  height: 40rem;
}

.settings-form-account input {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  width: 30rem;
  padding: 0.5rem 0;
  border: 0.1rem solid lightgrey;
  outline: none;
}

.settings-form-account label {
  padding: 1rem;
  font-size: 4rem;
}

.settings-form-button {
  margin: 2rem;
  padding: 0.5rem 2rem;
  border: 0.1rem solid red;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: red;
  color: white;
}

.settings-form-button:hover {
  cursor: pointer;
  background-color: rgba(200, 83, 79);
  outline: none;
}

/* MY-AREA */

.myarea-div-form-box {
  background-color: white;
  width: 50rem;
  height: 70rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid black;
}

.myarea-div-form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  height: 70rem;
  font-size: 2.5rem;
  padding: 1rem;
}

.myarea-form-name label {
  border-start-start-radius: 2rem;
  border-end-end-radius: 2rem;
  font-weight: 700;
  font-size: 4rem;
  color: white;
  background-color: red;
  padding: 0 3rem;
  transform: skewX(-15deg);
}

.myarea-form-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
}

.myarea-image {
  height: 200px;
  width: 200px;
}

.myarea-form-details label {
  padding: 1rem;
  font-size: 4rem;
}

.myarea-form-name-box {
  border-bottom: 0.2rem solid black;
  width: 40rem;
  padding-bottom: 2.5rem;
}

.myarea-form-details button {
  margin: 2rem;
  padding: 0.5rem 2rem;
  border: 0.1rem solid red;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: red;
  color: white;
}

/* LOGIN / SIGNUP */

.login-form-title {
  border-start-start-radius: 2rem;
  border-end-end-radius: 2rem;
  font-weight: 700;
  font-size: 6rem;
  color: white;
  background-color: red;
  padding: 0 3rem;
  margin-bottom: 4rem;
}

.login-div-form-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 45rem;
  height: 50rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid black;
}

.signup-div-form-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 55rem;
  height: 60rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid black;
}

.login-form-box {
  display: flex;
  flex-direction: column;
}

.login-form-button {
  margin: 2rem;
  padding: 0.5rem 2rem;
  border: 0.1rem solid red;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: red;
  color: white;
}

.login-form-button:hover {
  cursor: pointer;
  background-color: rgba(200, 83, 79);
  outline: none;
}

.login-form-box label {
  padding: 1.2rem;
  font-size: 2rem;
}

.login-form-box input {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  width: 30rem;
  padding: 0.5rem 0;
  border: 0.1rem solid lightgrey;
  outline: none;
}

<<<<<<< HEAD


/* OBJECT DETAILS */



.object-details-div-content-box {
  margin-left: 2rem;
  font-family: Yanone Kaffeesatz;
}

.object-details-image img{
  height: 43rem;
  width: 30rem;
}

.object-details-div-box {
  padding: 10rem 10rem 6rem 10rem;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.object-details-div-title {
color: white;
}

.object-details-div-under-title div p{
  font-size: 2rem;
  font-family: Open Sans;
  font-weight: 400;
}

.object-details-div-title h1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin-top: 1.9rem;
  margin-bottom: 5rem;
  font-family: open sans;
  font-weight: 700;
  transform: scale(1, 2.5);
  -webkit-transform: scale(1, 2.5); /* Safari and Chrome */
  -moz-transform: scale(1, 2.5); /* Firefox */
  -ms-transform: scale(1, 2.5); /* IE 9+ */
  -o-transform: scale(1, 2.5); 
}

.object-details-div-under-title {
  display: flex;
  flex-direction: row;
}

.object-details-div-under-title div p {
  padding-right: 1rem;
}

.object-details-div-under-title-year {
  color: white;
  margin-right: 2rem;
}

.object-details-div-under-title-rated {
  text-transform: uppercase;
  padding-left: 1rem;
  color: white;
  border: 1px solid white;
}

.object-details-div-under-title-plot-box {
  text-align: justify;
  padding-right: 3.5rem;
}

.object-details-div-under-title-plot {
  font-size: 1.9rem;
  margin: 1rem 0;
  color: #868686;
  font-family: Open Sans;
  font-weight: 400;
}

.object-details-div-rating-box {
  border: 0.2rem solid #3CCB5A;
  padding-left: 0.9rem;
  padding-bottom: 0.1rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

.object-details-div-rating {
  display: inline-block;
  color: #3CCB5A;
  font-family: Open Sans;
  text-transform: uppercase;
  transform: scale(0.9, 1);
  -webkit-transform: scale( 0.9, 1); /* Safari and Chrome */
  -moz-transform: scale(0.9, 1); /* Firefox */
  -ms-transform: scale(0.9, 1); /* IE 9+ */
  -o-transform: scale(0.9, 1); 
}

.object-details-div-form-button-box {
 margin: 3rem 0;
}

.object-details-div-form-button-box button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  background-color: red;
  border: 0.1rem solid red;
  border-start-start-radius: 2rem;
  border-end-end-radius: 2rem;
  font-size: 2rem;
}

.object-details-div-form-button-box button:hover{
  cursor: pointer;
  background-color: rgba(200,83,79);
  outline: none;
  border: 0.1rem solid rgba(200,83,79);
}

.object-details-div-form-button-box form img{
height: 3rem;
}

.object-details-under-button {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #868686;
  font-family: Open Sans;
  font-weight: 300;
}



/* ADD-REVIEW */



.add-review-form-box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.add-review-form-rating-box {
  text-align: center;
  margin-bottom: 3rem;
}

.add-review-form-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.add-review-form-rating input {
  text-align: center;
  border: 0.1rem solid #222222;
  outline: none;
  font-size: 3.6rem;
  color: transparent;
  text-shadow: 0 0 0 black;
  width: 7rem;
  background-color: black;
  color: white;
  text-shadow: -1px -1px 0 , 1px -1px 0 white, -1px -1px 0 white, 1px -1px 0 white;
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
  padding: 1rem;
}

.add-review-number-box {
  text-align: center;
  border: 0.1rem solid black;
  width: 6rem;  
}

.add-review-form-rating button {
  border-right: 0.1rem solid #222222;
  border-top: 0.1rem solid #222222;
  border-bottom: 0.1rem solid #222222;
  border-left: 0.1rem solid black;
  padding: 0.2rem 0;
  background-color: black;
}

.add-review-form-rating button img {
  padding: 1rem;
}

.object-details-div-title h2 {
  font-size: 6rem;
  text-transform: uppercase;
  margin-top: 1.9rem;
  margin-bottom: 9rem;
  font-family: open sans;
  font-weight: 700;
  transform: scale(1, 2.5);
  -webkit-transform: scale(1, 2.5); /* Safari and Chrome */
  -moz-transform: scale(1, 2.5); /* Firefox */
  -ms-transform: scale(1, 2.5); /* IE 9+ */
  -o-transform: scale(1, 2.5); 
}

.add-review-details-image {
margin-bottom: 4rem;
}

.add-review-div-form-button-box button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  background-color: red;
  border: 0.1rem solid red;
  font-family: Yanone Kaffeesatz;
  font-size: 2rem;
  border-start-start-radius: 2rem;
  border-end-end-radius: 2rem;
}

.add-review-div-form-button-box button img {
  height: 3rem;
}

.add-review-div-form-button-box button:hover{
  cursor: pointer;
  background-color: rgba(200,83,79);
  outline: none;
  border: 0.1rem solid rgba(200,83,79);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
=======
/* JQUERY */
>>>>>>> df092d8c950a1826930d937f4508fc939b26a926
